* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    height: 1000px;
    width: 100%;
    border: 0;
    background-color: black;
}

main {
    margin-left: 20%;
    margin-right: 20%;
}

.grid {
    height: 2000px;
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-rows: 1fr 20fr 2fr;
}

.header {
    border: 1px solid lightgrey;
    background-color: grey;
    color: wheat;
    grid-row: 1;
    grid-column: 1 / 12;
}

.sidebar {
    border: 1px solid lightgrey;
    color: white;
    background-color: black;
}

.article {
    border: 1px solid lightgrey;
    background-color: white;
    grid-row: 2 / auto;
    grid-column: 2;
}

.footer {
    border: 1px solid lightgrey;
    background-color: grey;
    grid-column: 1 / 12;
    grid-row: 3;
}
